<div class="container">
    <h1>{{title}}</h1>
    <form>
        <select name="game" onchange="this.form.submit()">
            <option value="All">All</option>
            <option value="Hangman">Hangman</option>
            <option value="Tetris">Tetris</option>
            <option value="Mario">Mario</option>
        </select>
    </form>
    {{loggedIn}}
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    Nickname
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=name&order=desc">↓</a>
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=name&order=asc">↑</a>
                </th>
                <th scope="col">
                    Game
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=game&order=desc">↓</a>
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=game&order=asc">↑</a>
                </th>
                <th scope="col">
                    Top score
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=topScore&order=desc">↓</a>
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=topScore&order=asc">↑</a>
                </th>
                <th scope="col">
                    Number of rounds
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=numberOfRounds&order=desc">↓</a>
                    <a href="http://fullstack.braininghub.com:3000?orderByColumn=numberOfRounds&order=asc">↑</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each scoreboard}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.game}}</td>
                <td>{{this.topScore}}</td>
                <td>{{this.numberOfRounds}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<img src="images/46d5ca5bc4de6a842d3a180b190623b3">
