<h1>{{title}}</h1>
<div id="selectRow" class="row">
  <div class="col">
    <form>
      <select id="selectGame" class="form-control-sm" name="gameId" onchange="this.form.submit()">
        <option value="All">All</option>
        <option value="1" {{selectedIfEqual gameId '1'}}>Hangman</option>
        <option value="2" {{selectedIfEqual gameId '2'}}>Tetris</option>
        <option value="3" {{selectedIfEqual gameId '3'}}>Mario</option>
      </select>
    </form>
  </div>
  <div class="col">
    <nav aria-label="Scoreboard navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link"
            href="?gameId={{gameId}}&order={{order}}&orderByColumn={{orderByColumn}}&offset={{previousOffset}}">Previous</a>
        </li>
        <li class="page-item"><a class="page-link"
            href="?gameId={{gameId}}&order={{order}}&orderByColumn={{orderByColumn}}&offset={{nextOffset}}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="mb-0 table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            Nickname
            <a href="?orderByColumn=name&order=desc&gameId={{gameId}}">↓</a>
            <a href="?orderByColumn=name&order=asc&gameId={{gameId}}">↑</a>
          </th>
          <th scope="col">
            Game
            <a href="?orderByColumn=game&order=desc&gameId={{gameId}}">↓</a>
            <a href="?orderByColumn=game&order=asc&gameId={{gameId}}">↑</a>
          </th>
          <th scope="col">
            Top score
            <a href="?orderByColumn=topScore&order=desc&gameId={{gameId}}">↓</a>
            <a href="?orderByColumn=topScore&order=asc&gameId={{gameId}}">↑</a>
          </th>
          <th scope="col">
            Number of rounds
            <a href="?orderByColumn=numberOfRounds&order=desc&gameId={{gameId}}">↓</a>
            <a href="?orderByColumn=numberOfRounds&order=asc&gameId={{gameId}}">↑</a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each scoreboard}}
        <tr>
          <th scope="row">{{ increment @index }}</th>
          <td>{{this.name}}</td>
          <td>{{this.game}}</td>
          <td>{{this.topScore}}</td>
          <td>{{this.numberOfRounds}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<img src="avatar.jpg">